.explore-nav {
  align-items: center;
  background-color: rgb(228, 228, 228);
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-block: 10px;
  padding: 8px 16px;
}

.explore-nav button {
  background-color: transparent;
  border: none;
  color: rgb(141, 92, 0);
  cursor: pointer;
  opacity: 1;
}
