footer {
  align-items: center;
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  bottom: 0;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

footer img {
  height: 20px;
}
