header img {
  height: 14px;
  width: 14px;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h3 {
  z-index: -1;
}

.search {
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4em;
}

.search input {
  border: none;
  height: 100%;
  outline: none;
  padding-left: 10px;
}

.section-container {
  align-items: center;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-flow: column wrap;
  height: 4rem;
  justify-content: center;
  width: 100vw;
}
