.bebidas-detalhes {
  align-items: center;
  display:flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
   flex-direction: column;
   overflow-x: hidden;
}

.bebidas-detalhes-hero {
  width: 100%;
}

.bebidas-detalhes-hero__container {
  align-items: center;
  display:flex;
  gap: 10px;
  height: 60px;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.bebidas-detalhes-hero__container p {
  font-size: 18px;
  font-family: Poppins, Inter, sans-serif;
  font-weight: bold;
}


.bebidas-detalhes-hero__container img {
  height: 16px;
}

.bebidas-detalhes-hero__container button {
  border: none;
  background-color: transparent;
}

.recipe-category {
  background-color: rgb(230, 230, 230);
  font-size: 12px;
  font-weight: 300;
  margin-top: -5px;
  padding-left: 40px;
  width: 100%;
}

.ingredientes__container {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 80vw;
}

.ingredientes__container h3,
.instrucoes__container h3 {
  font-size: 16px;
}

.ingredientes__container li {
  display: flex;
  margin-block: 8px;
  color: grey;
}

.ingredientes__container ul {
  list-style-type: none;
  font-size: 12px;
}

.instrucoes__container {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 80vw;
}

.instrucoes__container p {
  color: grey;
  font-size: 12px;
}

iframe {
  width: 100%;
}

.button-init {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgb(32, 32, 255);
  color: white;
  letter-spacing: 0.1rem;
}

.button-init:active {
  opacity: 0.8;
}
